@font-face {
    font-family: "Envy Code R";
    src: url('Envy Code R.ttf?t=1713173677409') format('truetype');
}

@font-face {
    font-family: "Source Code Pro";
    src: url('SourceCodePro-Regular.ttf?t=1713173677410') format('truetype');
}