.tabs-box {
  background-color: var(--el-bg-color);

  .tabs-menu {
    position: relative;
    width: 100%;

    :deep(.el-tabs) {
      .el-tabs__header {
        box-sizing: border-box;
        height: 40px;
        padding: 0 10px;
        margin: 0;


        .el-tabs__nav-wrap {
          position: absolute;
          width: calc(100% - 62px);

          .el-tabs__nav-prev, .el-tabs__nav-next {
          }

          .el-tabs__nav-scroll {
            .el-tabs__nav {
              display: flex;
              border: none;

              .el-tabs__item {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #afafaf;
                border-left: 1px solid var(--el-color-info-light-7);
                padding-left: 16px;
                padding-right: 16px;

                &:hover {
                  background-color: var(--el-bg-color-page);

                  &::before {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 0;
                    content: "";
                    border-bottom: 2px solid var(--el-color-info-light-5) !important;
                  }
                }

                &:last-child {
                  border-right: 1px solid var(--el-color-info-light-7);
                }

                .tabs-icon {
                  margin: 1.5px 4px 0 0;
                  font-size: 15px;
                }

                .is-icon-close {
                  margin-top: 1px;
                  width: 14px;
                }

                &.is-active {
                  color: var(--el-color-primary);

                  &::before {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 0;
                    content: "";
                    border-bottom: 2px solid var(--el-color-primary) !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}