//flex
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

//mask image
.mask-img {
  padding-right: 50px;
  mask-image: linear-gradient(90deg, #000000 0%, #000000 calc(100% - 50px), transparent);
}

//omit
.s-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-omit {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

//break word
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

//maximization
.main-max {
  .aside-split,
  .el-aside,
  .el-header,
  .el-footer,
  .tabs-box {
    display: none !important;
  }
}

//fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}

.fade-transform-enter-from {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(30px);
}

//scroll bar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--el-border-color-darker);
  border-radius: 20px;
}

//nprogress
#nprogress .bar {
  background: var(--el-color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--el-color-primary) !important;
  border-left-color: var(--el-color-primary) !important;
  position:relative;
  top:2px;
  left:3px;

}

#nprogress .peg {
  box-shadow: 0 0 10px var(--el-color-primary),
  0 0 5px var(--el-color-primary) !important;
}

//common margin and padding
@for $i from 0 through 100 {
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
}

.card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--el-bg-color
  );
  border: 1px solid var(--el-border-color-light);
  border-radius: 6px;
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .el-row {
    .el-form-item {
      margin-bottom: 10px;
    }
  }

  .float-right {
    float: right;
  }

  .el-dropdown--link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    position: relative;
    top: 4px;
    align-items: center;
    border: none;
  }
}

.empty {
  width: 30%;
}

.expanded-box {
  padding: 12px 40px;

  .title {
    font-weight: bold;
    color: var(--el-table-header-text-color);
  }
}
